
html {
    background-color: #272626;
    scroll-behavior: smooth;
}



* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
h1 {
    color: #ffff;
}

.jersey-15-regular {
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.montserrat-monsterrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


#wrapper {
    position: relative; 
    bottom: 0px;
    top: 0px; 
    height: 120vw; 
    overflow: hidden;
}

#mainbar {
    display: flex; 
    flex-direction: column;
}

#title {
    font-size: 15vw;
    line-height: 65%;
    text-align: center;
    position: absolute; 
    top:30vw;
    bottom: 50%;
    text-shadow: 12px 4px 13.5px rgba(10, 10, 10, 0.926);
    z-index: 1;
    left: 2vw;
    right: 2vw;
}


#gradientTop {
    display: flex;
    position: absolute;
    width: 50vw;
    z-index: -1;
    top: 0;
    right: 50%;

}

#disco {
    width: 100vw;
    display: flex; 
    position: absolute;
    z-index: 0;
    top: 2vw;
    bottom: 2vw;
    left: 2vw; 
    right: 2vw;

}

#gradientBottom {
    display: flex;
    position: absolute;
    width: 70vw;
    z-index: -2;
    left: 30%; 
    top: 30vw;

}

#divider_music {
    height: 20vw;
    width: 100vw;
    position: absolute;
    z-index: -4;
    top: 100vw;
    display: block;
}

#attire {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#attirebg {
    width: 100vw;
    position: absolute;
    z-index: 0;
}

#attireHeader {
    position: relative;
    z-index: 1;
    font-size: 3rem;
    text-align: center;
    width: 100%;
    margin: 0;
    
}

#attireInfo {
    position: relative;
    z-index: 1;
    width: 100%;
    text-align: center;
    background: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.96);
    border-radius: 32px;
    box-shadow: 10px 8px 32px rgba(0, 0, 0, 0.25);
}

#attireInfo p {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    margin: 0px;
}

@media (min-width: 768px) {
    #attireInfo p {
        font-size: 2rem;
    }

    #attireHeader h1 {
        font-size: 10rem;
    }

    #colorScheme {
        font-size: 3rem;
    }
}

#colorScheme {
    text-align: center;
    font-family: "Jersey 15", sans-serif;
    font-size: 1rem;
    text-shadow: 0 0 32px rgba(0, 0, 0, 0.788);
    letter-spacing: 4px;
    position: relative;
    z-index: 2;
}

.spacing {
    width: 100vw;
    height: 20vw;
    margin-top: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1;
    min-width: 0;
}

#attireSection {
    position: relative;
}

#backgroundAttire {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    margin-bottom: 5rem;
}

#backgroundAttire img {
    display: block;
    width: 100%;
    height: auto;
    opacity: 50%;
}

#outfits {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    box-sizing: border-box;
    gap: 16px;
    height: auto;
    width: 80vw;
    z-index: 1;
    margin: auto;
    margin-bottom: 2rem;
}

#outfitInspoHeader {
    text-align: center;
    font-family: "Jersey 15", sans-serif;
    letter-spacing: 5px;
    font-size: 7rem;
    line-height: 80px;
}


.outfitPic {
  width: 100%;
  box-sizing: border-box;

}

.attire {
    font-family: "Jersey 15", sans-serif;
    text-shadow: 15px 4px 13.5px rgba(0,0,0,0.5);
    z-index: 1;
}

#details {
    position: static; 
}

canvas {
    position: absolute;
    z-index: -3;
    height: 100vh;
    margin: 0;
    width: 100vw;
    display: block;
}

.glassFilter {
    background: rgba(255, 255, 255, 0.16);
    backdrop-filter: blur(19px) saturate(172%);
    -webkit-backdrop-filter: blur(19px) saturate(172%);
    border: 1px solid rgba(255, 255, 255, 0.30);
    border-radius: 14px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
}

.parentContainerRSVP {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.parentContainerRSVP a {
    text-decoration: none;
}

.parentContainerRSVP a:hover {
    text-decoration: underline;
    text-decoration-color: gold;
}

#rsvpButton {
    width: max-content;
    height: max-content;
    padding: 1rem 2.5rem;
    margin: 1.5rem auto;
    text-align: center;
    transition: transform 0.5s ease;
}



#rsvpButton:hover {
    /* Scale cleanly without losing alignment */
    transform: scale(1.5);
}


#rsvpButton p {
    color: black;
    font-size: 1rem;
    margin: 0;
    padding: 0px;
    font-family: "Jersey 15", sans-serif;
}

@media (min-width: 768px) {
    #rsvpButton p {
        font-size: 4rem;

    }
}

p {
    color: white;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-align: center;
}

@media (min-width: 768px) {
    p {
        font-size: 2rem;
    }

    #outfits {
        width: 90vw;
    }

    #outfitInspoHeader {
        font-size: 10rem;
    }

    #venueHeader {
        font-size: 5rem;
    }

}

#venue {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 2rem;
}

#venueHeader {
    font-family: "Jersey 15", sans-serif;
    font-size: 3rem;
    text-align: center;
    position: relative;
}

#venueBg {
    width: 100%;
    box-sizing: border-box;
    inset: 0;
    position: absolute;
    z-index: -1;
}

#venueBg img {
    width: 100%;
    object-fit: cover;
}

#venueHolder {
    width: 100%;
    box-sizing: border-box;
    z-index: 1; 
    position: relative;
    margin: auto;
    padding: auto;
}

#venueHolder img {
    height: auto;
    width: 100%;
    object-fit: contain;
}

#venueDetails {
    font-family: "Montserrat", sans-serif;
}

/* font-size: clamp(1.2rem, 2vw, 2rem); */
#venueFlex {
    display: flex; 
    flex-direction: column;
    flex-wrap: nowrap;
    padding-top: 40%;
    z-index: 3;
    position: absolute;
    width: 85%;
    object-fit: contain;
    justify-content: center;
    margin: auto;
    padding-left: 15%

}

#locationMap {
    width: 100%;
    justify-content: center;
    display: flex;
    height: 42vh;
}

iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

@media (min-width: 600px) {
    #locationMap {
        height: clamp(76dvh, 90dvh, 100dvh);
    }

    #venueDetails p {
        font-size: 10rem;
    }
}

#rsvp {
    margin-top: 70px;
    background: linear-gradient(148deg, #f09800 0%, #f9d596 50%, #ffffff 100%); 
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.30);
    border-radius: 16px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    outline-width: 25px;
    outline-color: white;
    box-shadow: 16px 4px 53px 11px rgba(255, 255, 255, 0.53);
    border-radius: 0px;
}

#RSVPformHeader {
    width: 100%;
    text-align: center;
    font-family: "Jersey 15", sans-serif;
    font-size: clamp(2.5rem, 3.4rem, 5rem);
    padding-bottom: 20px;
}

#rsvpContainer_confirmation {
    width: 100%;
    text-align: center;

}

.choices {
    width: 100%;
    padding: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: #dea806;
    border-radius: 20px;
    background-color: white;

}

#rsvpchoices {
    display: flex;
    width: 100%;
    inset: 0px; 
    flex-direction: row;
    justify-content: center;
    /* Shrinks the gap to 10px on mobile, caps at 50px on desktop */
    gap: clamp(10px, 4vw, 50px); 
    
    
}

#yes {
    margin-left: 20px;
}

#no {
    margin-right: 20px;
}

#rsvpchoices h1 {
    padding-bottom: 20px;
}

.choices:has(input[type="radio"]:not(:checked)) h1 {
   color: #d37f0a;
}
input[type=radio] {
    border: 0px;
    width: 100%;
    height: 3em;
}

.choices:has(input[type="radio"]:checked) {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.choices:has(input[type="radio"]:checked) h1 {
    color: white;
}

.rsvptext {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    /* Min 1.5rem (mobile), preferred 6vw (scales), Max 4rem (desktop) */
    font-size: clamp(1.5rem, 6vw, 4rem); 
    margin-top: 30px;
}


#rsvpInformation {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#rsvpDetails {
    width: 100%;
    margin-top: 50px;
}

.rsvpInformation_asked {
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
    font-weight: 800;
    margin-top: 20px;
    margin-left: 20px;
    
    color: #d37f0a;
}

.RSVPname {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.inputName {
    margin-left: 20px;
    width: 50vw;
    height: stretch;
    font-size: 1.5rem;
    margin-right: 20px;
    border-radius: 12px; 
    border: none; 
    padding: 8px 12px; 
}
label {
    font-family: "Montserrat", sans-serif; 
    margin: 0px;
    font-weight: 500;
    color: white;


}

#rsvpVerification {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
    object-fit: contain;
    align-items: center;
}

.rsvpVerifyText {
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    text-align: center;
}



.guest-section {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 400px;
}

.guest-input-group {
  display: flex;
  gap: 8px;
  margin-bottom: 26px;
  height: 3rem;

}

.guest-input-group input {
  width: 100%;
  height: 3rem;
  padding: 10px;
border-style: solid;
  border-color: white;
  border-radius: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}
@media (min-width: 600px) {
    .guest-input-group input {
        height: 60px;
        
    }
}
.remove-btn {
  background: #ff4d4d;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0 12px;
  cursor: pointer;
}

#addGuestBtn {
  background: #784008;
  color: white;
  padding: 30px;
  border: none;
  border-radius: 8px;
  font-size: clamp(1.5rem, 2rem, 3rem);
  cursor: pointer;
  font-family: "Montserrat", sans-serif; 
  margin-top: 30px;
}

#moreGuestsSection {
    margin-top: 30px;
    text-align: center;
    font-family: "Montserrat", sans-serif; 
}

#rsvpSubmit {
    margin-top: 30px;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}

#rsvpSubmit button {
    background: white;
    box-shadow: none;
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    color: #3e8e41;
    width: max-content;
    padding-right: 20px;
    padding-left: 20px;
    border-style: solid;
    border-color: white;
    border-radius: 20px; 
    
}

#rsvpSubmit button:hover {
    color: white;
    background-color: #3e8e41; 
}

#submittedOverlay {

    position: fixed;

    inset: 0;

    display: none;

    justify-content: center;

    align-items: center;

    background: rgba(0, 0, 0, 0.6);

    z-index: 9999;

}


#submittedOverlay.show {

    display: flex;

}


#submittedBox {

    background: white;

    padding: 40px;

    text-align: center;

    border-radius: 20px;

    

}


#submittedBox h1 {

    margin-bottom: 10px;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;

}

#submittedBox p {
    color: black;
}
#submittedBox button {

    margin-top: 20px;

    padding: 12px 25px;

    cursor: pointer;

}

#contactGrid p {
    font-size: 0.5rem;
}

#contactGrid h1 {
    font-size: clamp(1.5rem, 2rem, 2.5rem);
    color: #f09800;
}

#contactGrid {
    display: flex; 
    flex-direction: row;
    /* Allows boxes to stack on top of each other on tiny mobile screens */
    flex-wrap: wrap; 
    justify-content: center;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    border-radius: 20px;
    gap: 20px;
    padding: 10px; 
}

.contactPerson {
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border: 4px solid #f09800;
    color: black;
    border-radius: 20px;
    padding: 15px;
    flex: 1; 
    min-width: 200px;
    background: rgba(255, 255, 255, 0.80);
}

#InquiriesBox {
    background: rgba(255, 255, 255, 0.66);
    backdrop-filter: blur(4px) saturate(178%);
    -webkit-backdrop-filter: blur(4px) saturate(178%);
    border: 1px solid rgba(255, 255, 255, 0.28);
    border-radius: 16px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px; 
    border-width: 4px;
    border-color:#f09800;
    border-style: solid;
}

#InquiriesBox p {
    font-size: clamp( 1.3rem, 1.5rem, 2.5rem);
    font-weight: 800;
    color: #f09800;
}

#enterOverlay {
    position: fixed;
    inset: 0;
    
    width: 100vw;
    height: 100vh;

    background: #272626;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 99999;

    cursor: pointer;

    transition: opacity 0.6s ease;
}

#enterText {
    font-family: "Montserrat", sans-serif;
    font-size: clamp(1rem, 2vw, 1.5rem);

    color: white;

    letter-spacing: 0.2em;

    user-select: none;
}

#enterOverlay.hide {
    opacity: 0;
    pointer-events: none;
}

/* ========================================
   AMBIENT BACKGROUND LIGHTS
======================================== */

#ambientLights {
    position: fixed;
    inset: 0;

    width: 100vw;
    height: 100vh;

    overflow: hidden;

    pointer-events: none;

    z-index: -10;

}


/* ========================================
   LIGHT BEAMS
======================================== */

.lightBeam {
    position: absolute;

    width: 160vw;
    height: 25vh;

    filter: blur(35px);

    opacity: 0.45;

    transform-origin: center;

    pointer-events: none;
}


/* TEAL BEAM */

.beam1 {
    background: linear-gradient(
        90deg,
        transparent 0%,
        rgba(47, 150, 137, 0.05) 10%,
        rgba(75, 180, 165, 0.65) 50%,
        rgba(47, 150, 137, 0.05) 90%,
        transparent 100%
    );

    left: -50vw;
    top: 55vh;

    transform: rotate(-18deg);

    animation: beamMove1 18s ease-in-out infinite alternate;
}


/* WARM BEAM */

.beam2 {
    background: linear-gradient(
        90deg,
        transparent 0%,
        rgba(255, 100, 20, 0.05) 15%,
        rgba(255, 120, 40, 0.55) 50%,
        rgba(255, 50, 20, 0.05) 85%,
        transparent 100%
    );

    left: -30vw;
    top: 15vh;

    transform: rotate(20deg);

    animation: beamMove2 23s ease-in-out infinite alternate;
}


/* ========================================
   GLOWING LIGHT SPOTS
======================================== */

.lightGlow {
    position: absolute;

    width: 35vw;
    height: 35vw;

    border-radius: 50%;

    filter: blur(80px);

    pointer-events: none;
}


/* RED */

.glow1 {
    background: rgba(150, 20, 10, 0.35);

    top: -10vw;
    right: -5vw;

    animation: glowMove1 15s ease-in-out infinite alternate;
}


/* TEAL */

.glow2 {
    background: rgba(20, 150, 135, 0.7);

    bottom: -10vw;
    left: -10vw;

    animation: glowMove2 20s ease-in-out infinite alternate;
}


/* ORANGE */

.glow3 {
    background: rgba(255, 100, 20, 0.2);

    top: 35%;
    right: 20%;

    animation: glowMove3 17s ease-in-out infinite alternate;
}


/* ========================================
   ANIMATIONS
======================================== */

@keyframes beamMove1 {

    0% {
        transform:
            translate(-30vw, 10vh)
            rotate(-20deg);
    }

    25% {
        transform:
            translate(-5vw, -5vh)
            rotate(-15deg);
    }

    50% {
        transform:
            translate(20vw, 5vh)
            rotate(-10deg);
    }

    75% {
        transform:
            translate(5vw, 15vh)
            rotate(-18deg);
    }

    100% {
        transform:
            translate(-20vw, 5vh)
            rotate(-23deg);
    }

}

@keyframes beamMove2 {

    0% {
        transform:
            translate(20vw, -10vh)
            rotate(20deg);
    }

    50% {
        transform:
            translate(-10vw, 10vh)
            rotate(25deg);
    }

    100% {
        transform:
            translate(15vw, 20vh)
            rotate(18deg);
    }
}


@keyframes glowMove1 {

    0% {
        transform: translate(-5vw, 5vh) scale(1);
    }

    100% {
        transform: translate(-15vw, 15vh) scale(1.3);
    }
}


@keyframes glowMove2 {

    0% {
        transform: translate(0, 0) scale(1);
    }

    100% {
        transform: translate(15vw, -10vh) scale(1.4);
    }
}


@keyframes glowMove3 {

    0% {
        transform: translate(0, 0) scale(1);
    }

    100% {
        transform: translate(-10vw, 15vh) scale(1.2);
    }
}


.confetti {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9998;
    pointer-events: none;
    overflow: hidden;
}

.confetti-piece {
  position: absolute;
  width: 8px;
  height: 16px;
  background: #ffd300;
  top: 0;
  opacity: 0;
}
.confetti-piece:nth-child(1) {
  left: 7%;
  transform: rotate(-12deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
          animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 393ms;
          animation-delay: 393ms;
  -webkit-animation-duration: 892ms;
          animation-duration: 892ms;
}
.confetti-piece:nth-child(2) {
  left: 14%;
  transform: rotate(-35deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
          animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 371ms;
          animation-delay: 371ms;
  -webkit-animation-duration: 720ms;
          animation-duration: 720ms;
}
.confetti-piece:nth-child(3) {
  left: 21%;
  transform: rotate(-71deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
          animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 487ms;
          animation-delay: 487ms;
  -webkit-animation-duration: 939ms;
          animation-duration: 939ms;
}
.confetti-piece:nth-child(4) {
  left: 28%;
  transform: rotate(-38deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
          animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 90ms;
          animation-delay: 90ms;
  -webkit-animation-duration: 970ms;
          animation-duration: 970ms;
}
.confetti-piece:nth-child(5) {
  left: 35%;
  transform: rotate(-7deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
          animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 385ms;
          animation-delay: 385ms;
  -webkit-animation-duration: 1106ms;
          animation-duration: 1106ms;
}
.confetti-piece:nth-child(6) {
  left: 42%;
  transform: rotate(-68deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
          animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 179ms;
          animation-delay: 179ms;
  -webkit-animation-duration: 934ms;
          animation-duration: 934ms;
}
.confetti-piece:nth-child(7) {
  left: 49%;
  transform: rotate(20deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
          animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 430ms;
          animation-delay: 430ms;
  -webkit-animation-duration: 902ms;
          animation-duration: 902ms;
}
.confetti-piece:nth-child(8) {
  left: 56%;
  transform: rotate(39deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
          animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 146ms;
          animation-delay: 146ms;
  -webkit-animation-duration: 1134ms;
          animation-duration: 1134ms;
}
.confetti-piece:nth-child(9) {
  left: 63%;
  transform: rotate(-70deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
          animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 157ms;
          animation-delay: 157ms;
  -webkit-animation-duration: 954ms;
          animation-duration: 954ms;
}
.confetti-piece:nth-child(10) {
  left: 70%;
  transform: rotate(58deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
          animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 489ms;
          animation-delay: 489ms;
  -webkit-animation-duration: 1127ms;
          animation-duration: 1127ms;
}
.confetti-piece:nth-child(11) {
  left: 77%;
  transform: rotate(-53deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
          animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 451ms;
          animation-delay: 451ms;
  -webkit-animation-duration: 910ms;
          animation-duration: 910ms;
}
.confetti-piece:nth-child(12) {
  left: 84%;
  transform: rotate(35deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
          animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 242ms;
          animation-delay: 242ms;
  -webkit-animation-duration: 863ms;
          animation-duration: 863ms;
}
.confetti-piece:nth-child(13) {
  left: 91%;
  transform: rotate(5deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
          animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 252ms;
          animation-delay: 252ms;
  -webkit-animation-duration: 728ms;
          animation-duration: 728ms;
}
.confetti-piece:nth-child(odd) {
  background: #17d3ff;
}
.confetti-piece:nth-child(even) {
  z-index: 1;
}
.confetti-piece:nth-child(4n) {
  width: 5px;
  height: 12px;
  -webkit-animation-duration: 2000ms;
          animation-duration: 2000ms;
}
.confetti-piece:nth-child(3n) {
  width: 3px;
  height: 10px;
  -webkit-animation-duration: 2500ms;
          animation-duration: 2500ms;
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}
.confetti-piece:nth-child(4n-7) {
  background: #ff4e91;
}
@-webkit-keyframes makeItRain {
  0% { opacity: 0; }
  20% { opacity: 1; }
  100% { opacity: 1; transform: translateY(100vh); }
}

@keyframes makeItRain {
  0% { opacity: 0; }
  20% { opacity: 1; }
  100% { opacity: 1; transform: translateY(100vh); }
}
